<!doctype html>
<html>
<head>
    <title>Add a New Student</title>
    <h4>Please enter the new student's information</h4>
</head>

<body>    
    <form action="/complete_add" method="POST">
        <label>Student First Name: 
        <input type="text" name="first_name">
        </label>
        <br>
        <label>Student Last Name: 
        <input type="text" name="last_name">
        </label>
        <br>
        <label>Student Github Username: 
        <input type="text" name="github">
        </label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>